#product {
    background: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg) no-repeat center center ;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.product-name {
    width: 80%;
    text-align: center;
    padding-bottom: 1%;
    border-bottom: 2px solid white;
}
.product-name h2 {
    font-weight: 700;
}
#product h5 {
    width: 60%;
    text-align: center;
    margin-top: 2%;
}
#product button {
    background: transparent;
    padding: 8px 15px;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 1%;
    outline: none;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    
}
#product button:focus {
  background: #43438a;
}