@media screen and (min-width: 768px) {
    #network {
        background: #4285f4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        color: #fff;
    }
    #network ul {
        display: flex;
    }
    #network li {
        list-style: none;
        margin-right: 16px;
    }
    #network p {
        margin: 0
    }
}
#network {
    text-align: center;
    background: #4285f4;
    color: white;
}
#network ul {
    display: flex;
    justify-content: center;
}
#network li {
    list-style: none;
    margin-right: 16px;
}
#network p {
    margin: 0
}
