@media screen and (min-width: 768px) {
    #features {
        width: 80%;
        text-align: center;
        margin: 2% auto;
    }
    #features h2 {
        font-weight: 700;
        font-size: 2.5em;
    }
    .description {
        margin: 3% auto;
        color: gray;
        width: 60%;
        text-align: center;
    }
    .the-features {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 5%;
    }
    .the-features i {
        color: #ff9800;
    }
    .the-features h4{
        margin-top: 5%;
        font-weight: 700;
    }
    .the-features p {
        width: 80%;
        margin: 4% auto;
        color: gray;
    }
}
#features {
    text-align: center;
    margin-top: 5%;
}
.description {
    margin: 3% auto;
    color: gray;
    width: 80%;
    text-align: center;
}
.the-features {
    text-align: center;
    width: 100%;
    margin-top: 5%;
}
.the-features i {
    color: #ff9800;
}
.the-features h4{
    margin-top: 5%;
    font-weight: 700;
}
.the-features p {
    width: 80%;
    margin: 4% auto;
    color: gray;
}